.bg{
  &-cover{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.1); */
  }
  &-position-center{
    background-position: center center;
  }
  &-position-tc{
    background-position: top center;
  }
  &-transparent-{
    &white90{
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
  &-mask{
    &-30{
      filter: brightness(30%);
    }
    &-40{
      filter: brightness(40%);
    }
    &-50{
      filter: brightness(50%);
    }
    &-60{
      filter: brightness(60%);
    }
    &-70{
      filter: brightness(70%);
    }
  }
}
// ------- images 
.img{
  &-cover{
    object-fit: cover;
  }
  &-position-center{
    object-position: center center;
  }
  &-position-tc{
    object-position: top center;
  }
  &-position-bc{
    object-position: bottom center;
  }
}

