.border-end-md {
  @media (min-width: 768px) {
    border-right: 1px solid $danger !important;
  }
}
.text-dark {
  &:hover {
    color: $danger;
  }
}
.list-group-item.active {
  color: #fff !important;
  background-color: $secondary !important;
  border-color: $secondary !important;
}
.page-item.active .page-link,
.page-link:focus {
  background-color: $secondary !important;
  color: #fff !important;
}
.page-link {
  color: $dark !important;
}

// class
.class {
  background-color: #e8e7e7 !important;
}
.class.active {
  background-color: $secondary !important;
}
.class:hover,
.class:focus {
  color: #fff !important;
  background-color: $secondary !important;
}
.scorll {
  &_scorllTop {
    width: 50px;
    height: 50px;
    z-index: 1000;
  }
}
